footer
	.datos
		.footer_location
			h4 Our Location
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, a.
			.dat
				p #[span Telephone:] 997526810
				p #[span Email:] mail@mail.com

			.social
				a(href="https://www.facebook.com/",target="_blank"): span.icon-facebook
				a(href="https://www.instagram.com/",target="_blank"): span.icon-instagram
				a(href="https://es.pinterest.com/",target="_blank"): span.icon-pinterest
				a(href="https://twitter.com/",target="_blank"): span.icon-twitter
		.footer_menu
			h4 Our menu
			ul
				li &gt; Home
				li &gt; About
				li &gt; Products
				li &gt; Services
				li &gt; News
				li &gt; Contacts
		.footer_last
			h4 Latest news
			.last
				img(src="imagenes/chicos/pan.jpg", alt="")
				h4 Lorem ipsum dolor.
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, officiis?
			.last
				img(src="imagenes/chicos/cake.jpg", alt="")
				h4 Lorem ipsum.
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, aliquid.
			.last
				img(src="imagenes/chicos/choco1.jpg", alt="")
				h4 Lorem ipsum dolor sit.
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, mollitia.
		.footer_food
			h4 Food
			.foods
				img(src="imagenes/chicos/bacon.png", alt="")
				h4 Lorem ipsum dolor.
				h5 consectetur adipisicing elit.
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam delectus eligendi accusamus ut nam cumque?
			.foods
				img(src="imagenes/chicos/ice.png", alt="")
				h4 Lorem ipsum dolor.
				h5 consectetur adipisicing elit.
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam delectus eligendi accusamus ut nam cumque?
	.copy
		span.cop
			p Lorem ipsum dolor sit amet.
		span.cop
			&copy; Lorem ipsum dolor.
