header
	.menu
		.logo 
			h1 Bakery
		span.icon-menu
		.items
			ul
				li: a(href="#") HOME
				li: a(href="#") ABOUT
				li: a(href="#") PRODUCTS
				li: a(href="#") SERVICES
				li: a(href="#") NEWS
				li: a(href="#") CONTACT
	.banner
		.texto_banner
			h2 We Create Delicious Memories
			p We are devoting all our time and effort to making the best products and using quality inputs obtain the best results in the satisfaction of our customers, this being our best reward.
			.boton
				a(href="#") Read More
		.img_banner
			.imagenes
				section: img(src="imagenes/banner/cake.jpg", alt="imagen")
				section: img(src="imagenes/banner/swt.jpg", alt="imagen")
				section: img(src="imagenes/banner/bread.jpg", alt="imagen")
				section: img(src="imagenes/banner/cups.jpg", alt="imagen")
				section: img(src="imagenes/banner/pas.jpg", alt="imagen")
				section: img(src="imagenes/banner/al.jpg", alt="imagen")
			#btn-prev #[span.icon-left-open-big]
			#btn-next #[span.icon-right-open-big]
	