main
	section.food
		.titles
			h2 Pleasure And Taste In One Place
			p In our Bakery find a wide assortment of pastries, breads table, large loaves, line of white bread, puff pastry, danish, Feite, biscuits, cookies and shortbread, which may lead to your table with the confidence to offer your family a healthy nutritious and delicious product.
		.articles_food
			article
				img(src="imagenes/chicos/vainilla.jpg", alt="")
				h3 Quae, aut!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed ipsa at assumenda nihil eum, non.
			article
				img(src="imagenes/chicos/cake3.jpg", alt="")
				h3 Lorem ipsum dolor.
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed ipsa at assumenda nihil eum, non.	
			article
				img(src="imagenes/chicos/choco1.jpg", alt="")
				h3  Quae, aut!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed ipsa at assumenda nihil eum, non.
			article
				img(src="imagenes/chicos/cake2.jpeg", alt="")
				h3 Lorem ipsum  sit.
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed ipsa at assumenda nihil eum, non.

	section.news
		.titles
			h2 Latest News
		.articles_news
			article
				img(src="imagenes/chicos/camp.jpg", alt="")
				h3 Lorem ipsum dolor sit.
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum soluta praesentium natus animi nisi exercitationem.
				a(href="#") Read more
			article
				img(src="imagenes/chicos/fresa.jpg", alt="")
				h3 Lorem ipsum dolor.
				p Iusto repellat ad debitis, eius labore sit nostrum, nemo deserunt mollitia soluta laborum pariatur sed!
				a(href="#") Read more
			article
				img(src="imagenes/chicos/choco2.jpg", alt="")
				h3 Lorem ipsum dolor sit .
				p Expedita aperiam ipsam doloribus enim, vitae dolor similique voluptate aut exercitationem deleniti impedit beatae quod.
				a(href="#") Read more
			article
				img(src="imagenes/chicos/csss.jpg", alt="")
				h3 Lorem ipsum dolor.
				p Consequuntur in saepe repellendus voluptas deleniti exercitationem autem non suscipit illo vel. Soluta, porro, possimus.
				a(href="#") Read more
